.servicios{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem ;
}

.tituloSecundario{
  margin-top: 5rem;
  margin-left: 2rem;
  font-size: 4.8rem;
}

/* Card Servicios */
.servicios .cardServicios{
  width: 20%;
  height: 30rem;
  padding: 2rem;
  background-color: var(--colorPlomoSuave);
  border-radius: .5rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cardServicios .imgCard{
  width: 6rem;
  height: 6rem;
}
.cardServicios .tituloCard{
  font-size: 22px;
  text-align: center;
}
.cardServicios .parrafoCard{
  text-align: center;
  font-size: 14px;
}

.barraCard{
  width: 10rem;
}

@media only screen and (max-width: 480px) {
  .servicios{
    flex-direction: column;
    margin: 5rem 0;
  }

  .tituloSecundario{
    margin: 3rem 1rem;
    font-size: 3.8rem;
    text-align: center;
  }

  .servicios .cardServicios{
    width: 80%;
    height: 25rem;
    padding: 2rem;
    background-color: var(--colorPlomoSuave);
    border-radius: .5rem;
    padding-bottom: 0;
  }
} 